/* style.css */
#slot-machine {
    text-align: center;
    padding: 20px;
}

.reel {
    display: inline-block;
    font-size: 50px;
    margin: 10px;
    width: 50px;
}

#reels {
    margin-bottom: 10px;
}

/* 新しいスタイルを追加 */
.buttons {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.stopButton {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 16px;
}
