/* style.css */
#slot-machine {
    text-align: center;
    padding: 20px;
}

.reel {
    display: inline-block;
    font-size: 50px;
    margin: 10px;
    width: 50px;
}

#reels {
    margin-bottom: 10px;
}




#spinButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 20px;
}

.stopButton {
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
    font-size: 16px;
}
