/* style.css */

#slot-machine {
    text-align: center;
    padding: 20px;
}

.reels {
    margin-bottom: 20px;
}

.reel {
    display: inline-block;
    font-size: 50px;
    margin: 0 10px;
    width: 50px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* ボタン間の間隔を設定 */
}

.stopButton {
    padding: 5px 10px;
    font-size: 16px;
}

#spinButton {
    padding: 10px 20px;
    font-size: 20px;
}
